version: "3.9"
services:
  provider-vmware:
    build:
      context: ..
      dockerfile: ./infra/Dockerfile.provider-vmware
    ports:
      - "50051:50051"
    volumes:
      - ./staging:/staging

  provider-openstack:
    build:
      context: ..
      dockerfile: ./infra/Dockerfile.provider-openstack
    ports:
      - "50052:50052"
    volumes:
      - ./staging:/staging

  orchestrator:
    build:
      context: ..
      dockerfile: ./infra/Dockerfile.orchestrator
    depends_on:
      - provider-vmware
      - provider-openstack
    ports:
      - "50060:50060"
    environment:
      - PROVIDER_VMWARE_ADDR=provider-vmware:50051
      - PROVIDER_OPENSTACK_ADDR=provider-openstack:50052

  api-gateway:
    build:
      context: ..
      dockerfile: ./infra/Dockerfile.api-gateway
    depends_on:
      - orchestrator
    ports:
      - "8080:8080"
